.header {
  margin: -2;
  position: relative;
  background-color: #f0f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 98vh;
  min-height: 598px;
  max-height: 754px;
  /* выше установили ограничения для секции */
}