.header__main-illustration {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 765px;
  height: 608px;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}