.page {
  margin: 0;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position:relative;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__main-illustration {
  position: absolute;
  background-image: url("../images/header-image.png");
  width: 756px;
  height: 608px;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;

 
  
}
.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.logo_place_header {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
  background-image: url("../images/logo_place_header.svg");
}
.header__title {
  z-index: 2;
  margin-left: 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 338px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.two-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 100px auto;
}
.two-columns__brief {
  margin-top: 25px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__brief {
  width: 175px;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__span-accent {
font-weight: 600;
font-size: 24px;
line-height: 24px;
}

