.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  margin: 0;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__main-illustration {
  position: absolute;
  display: flex;
  width: 756px;
  height: 608px;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  margin: 0;
}

.logo_place_header {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
}

.logo {
  height: 32px;
  width: 228px;
  margin: 0;
}

.header__title {
  z-index: 2;
  padding-left: 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin: 0;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 175px;
  margin: 0;
}


.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  margin: 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 0;
  padding-top: 20px;
  margin: 0;
  width: 60%;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.table__cell {
  margin: 0;
  padding-top: 60px;
  width: 250px;
  padding-left: 0;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-left: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
  padding-left: 0;
}

.feynman {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  min-height: 890px;
  background-position: left bottom;
}

.feynman__title {
  padding-top: 100px;
  max-width: 648px;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;

}

.feynman__subtitle {
  padding-top: 70px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #1f1f1f;
}


.section-title_theme_dark {
  padding-top: 90px;
  color: white;
  margin: 0;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  margin: 0;
  z-index: 2;
}

.table_dark {
  padding: 0;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0;
  z-index: 2;
  padding: 0;
  margin-top: 80px;
}


.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  margin: 0;
}

.footer {
  padding: 0;
  margin: 0;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
}

.logo_place_footer {

  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

}

.footer__columns {
  padding-top: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-self: flex-start;
  margin: auto 0 auto 40px;
  min-height: 250px;
}

.footer__column_content_copyring {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  flex-basis: 711px;
}

.footer__column_content_info {
  flex-direction: column;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-self: initial;

}

.footer__column_content_social {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* justify-content: space-around; */
}

.footer__column-link {
  color: white;
  text-decoration: none;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:last-child {
  padding-bottom: 16px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding-right: 10px;
}